brewery-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "brewery-adf"
		},
		"Databricks_ADF_accessToken": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'accessToken' de 'Databricks_ADF'"
		},
		"Databricks_ADF_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0529-050523-ymzjohq7"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Databricks_ADF')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1528553660668455.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Databricks_ADF_accessToken')]"
					},
					"existingClusterId": "[parameters('Databricks_ADF_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Brewery_ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingewstão dos dados consumidos da API",
				"activities": [
					{
						"name": "API_Bronze",
						"description": "Consumo da API e ingestão  na camada bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/r.ikegame@hotmail.com/Brewery/notebooks/Ingestion_api_bronze"
						},
						"linkedServiceName": {
							"referenceName": "Databricks_ADF",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Bronze_Silver",
						"description": "Ingestão dos dados na camada silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "API_Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/r.ikegame@hotmail.com/Brewery/notebooks/ingestion_bronze_silver"
						},
						"linkedServiceName": {
							"referenceName": "Databricks_ADF",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Silver_Gold",
						"description": "Ingestão dos dados na camada Gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Bronze_Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/r.ikegame@hotmail.com/Brewery/notebooks/ingestion_silver_gold"
						},
						"linkedServiceName": {
							"referenceName": "Databricks_ADF",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Databricks_ADF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/brewery_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Inicialização do pipeline Brewery_ingestion",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Brewery_ingestion",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-05-29T07:12:00",
						"timeZone": "E. South America Standard Time",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								14
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Brewery_ingestion')]"
			]
		}
	]
}